* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* 美化字体 */
/* *{
	font-family: awan,serif;
}
@font-face {
	font-family: awan;
	src: url("../font/SysFont-Medium.ttf");
} */

#web_bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-width: 1000px;
	z-index: -100;
	zoom: 1;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-position: center 0;
}

#Title {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin: 40px auto 30px auto;
}

#Body {
	width: 85%;
	max-width: 600px;
	padding: 32px 22px 16px 22px;
	border-radius: 22px;
	margin: 0 auto;
	height: auto;
	overflow: hidden;
	position: relative;
}

#Body::before {
	content: '';
	position: absolute;
	top: -10px;
	bottom: -10px;
	left: -10px;
	right: -10px;
	filter: blur(5px);
	z-index: -1;
}

.file {
	border-radius: 12px;
	padding: 0 16px;
	margin: 14px 0;
	font-size: 24px;
	height: 44px;
	line-height: 44px;
	overflow: hidden;
	transition: background-color 500ms, opacity 500ms;
	position: relative;
}

.file img {
	position: absolute;
	top: 12px;
	left: 15px;
	height: 24px;
}

#Download {
	height: 52px;
	line-height: 52px;
	width: 85%;
	max-width: 600px;
	margin: 30px auto 40px auto;
	text-align: center;
	border-radius: 22px;
	font-size: 30px;
}

#Upload {
	position: relative;
}

#file {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
}

#Bottom {
	margin: 40px auto 50px auto;
	font-size: 8px;
	text-align: center;
}