#web_bg {
	background-color: rgb(88, 85, 85);
	background-image: url(../img/back.svg);
}

#Title {
	color: #bdbdbd;
}


#Body::before {
	background-color:#76797c87;
}

.file {
	background-color: #91919196;
	color: #bdbdbd;
}
.file:hover{
	background-color:#79797996;
}

#Download{
	background-color: #53796785;
}

#Bottom {
	color: #bdbdbd;
}
