#Button{
	height: 52px;
	width: 85%;
	max-width: 600px;
	margin: 30px auto 40px auto;
	position: relative;
}
#Upload,#NewFiles{
	width:45%;
	max-width:265px;
	position: absolute;
	height: 52px;
	line-height: 52px;
	text-align: center;
	border-radius: 12px;
	font-size: 30px;
}
#Upload{
	left: 0;
}
#NewFiles{
	right: 0;
}
#Uploaded {
	margin: 0 auto;
	width: 85%;
	max-width: 600px;
	overflow: hidden;
	height: auto;
	padding: 14px 16px 14px 16px;
	line-height: 30px;
}

#UploadedFiles {
	overflow: hidden;
}

#UploadedFiles pre {
	text-align: center;
}
.UploadedFiles{
	position: relative;
}
.UploadFilesNamed {
	position: absolute;
	left: 0;
}
.UploadFilesDone {
	position: absolute;
	right: 16px;
}